<!--##################################################################-->
<!--profileOverview-->
<!--##################################################################-->
<template name="profileOverview">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{_ "profile.overview"}}</h3>
        </div>
        <div class="panel-body">
            <div id="container" style="min-width: 100%;
			max-width: 100%; min-height: 100%; max-height: 100%; margin: 0 auto">
                {{> graph}}
            </div>
        </div>
    </div>
</template>