<template name="useCasesItemCreate">
    {{#if (gotNavigationFeature "useCases.misc.create" false)}}
        {{#if (gotNavigationFeature "personal.cardset.enabled" false)}}
            {{#if canCreateContent}}
                <tr class="hidden-xs">
                    <td colspan="2">
                        {{_ "useCases.modal.description.personal.create"}}<br>
                        <div class="dropdown">
                            {{> useCasesItemCreateDropdown}}
                        </div>
                    </td>
                </tr>
            {{/if}}
        {{/if}}
    {{/if}}
</template>

<template name="useCasesItemCreateDropdown">
    <div class="btn-group col-xs-12 col-md-8">
        <button type="button"
                class="btn btn-raised btn-success setCardTypeUseCase setCardTypeUseCaseDropdown longButton"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"
                value="{{cardType}}">{{_ "card.chooseCardType"}}
        </button>
        <button type="button"
                class="btn btn-raised dropdown-toggle setCardTypeUseCaseDropdown setCardTypeUseCaseDropdownCaret"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                           <span class="flex-content">
                               <span class="caret"></span>
                               <span class="sr-only"></span>
                           </span>
        </button>
        <ul class="dropdown-menu btn-raised longButton">
            {{#if gotTranscriptsEnabled}}
                <li class="cardType" value="2" data="2"><a href="#">{{getTranscriptLongName}}</a></li>
            {{/if}}
            {{> cardTypesList filter=false}}
        </ul>
    </div>
</template>
