<template name="cardsetLearnActivityStatistic">
    {{#unless isEditor}}
        {{> accessDenied}}
    {{else}}
        {{> removeUserFromBonusModal}}
        <div class="cardsetstats-container">
            <div id="cardsetInfoDetail">
                <div class="panel panel-default cardsetInfo">
                    <div class="panel-body">
                        <h4>{{this.name}}</h4>
                        <hr>
                        <div class="row">
                                    <span class="col-sm-6 collapseCardsetInfoContainer">
                                        {{> cardsetInfoBox}}
                                    </span>
                            <span class="col-sm-6 collapseCardsetInfoContainer">
                                {{> bonusInfoBox}}
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button id="exportCSV" class="btn btn-success btn-raised"><span class="flex-content"><i class="fas fa-clipboard-list"></i>&nbsp;<i
                                class="fas fa-cloud-download-alt"></i>&nbsp;{{_
                                "box_export"}}</span></button>
                    </div>
                </div>
            </div>
            <div style="overflow-x:auto;">
                <table class="table table-striped table-hover table-user-list">
                    <tbody>
                    <tr class="active">
                        <th>{{_ "panel-body.birthname"}}</th>
                        <th>{{_ "panel-body.givenname"}}</th>
                        <th>{{_ "panel-body.email"}}
                        </th>
                        {{#if isNotificationEnabled}}
                            <th>{{_ "confirmLearn-form.notification"}}
                            </th>
                        {{/if}}
                        <th>{{_ "leitnerProgress.box" number=1}} [{{this.learningInterval.[0]}}]
                        </th>
                        <th>{{_ "leitnerProgress.box" number=2}} [{{this.learningInterval.[1]}}]
                        </th>
                        <th>{{_ "leitnerProgress.box" number=3}} [{{this.learningInterval.[2]}}]
                        </th>
                        <th>{{_ "leitnerProgress.box" number=4}} [{{this.learningInterval.[3]}}]
                        </th>
                        <th>{{_ "leitnerProgress.box" number=5}} [{{this.learningInterval.[4]}}]
                        </th>
                        <th>{{_ "leitnerProgress.learned"}}</th>
                        <th>{{_ "leitnerProgress.bonus"}}</th>
                        <th>{{_ "details"}}</th>
                        <th>{{_ "leitnerProgress.manage"}}</th>
                    </tr>
                    {{#each getCardsetStats}}
                        <tr>
                            <td>{{this.birthname}}</td>
                            <td>{{this.givenname}}</td>
                            <td><a href="mailto:{{this.email}}">{{this.email}}</a></td>
                            {{#if isNotificationEnabled}}
                                <td>{{{getNotificationStatus this}}}</td>
                            {{/if}}
                            <td>{{this.box1}}</td>
                            <td>{{this.box2}}</td>
                            <td>{{this.box3}}</td>
                            <td>{{this.box4}}</td>
                            <td>{{this.box5}}</td>
                            <td>
                                {{#if earnedTrophy}}
                                    <span class="green-learning-text">
                                        {{this.box6}}{{{getPercentage this.box6}}}
                                    </span>
                                {{else}}
                                    <span class="red-learning-text">
                                        {{this.box6}}{{{getPercentage this.box6}}}
                                    </span>
                                {{/if}}
                            </td>
                            <td>
                                {{getAchievedBonus}}&nbsp;%{{#if earnedTrophy}}&nbsp;<i class="fas fa-trophy bonusTrophy"></i>{{/if}}
                            </td>
                            <td>
                                <a data-id="{{this.user_id}}" class="detailed-stats"><i
                                        class="far fa-chart-bar"
                                        data-id="{{this.user_id}}"
                                        title="{{_ "leitnerProgress.tooltip.graph"}}"></i></a>
                            </td>
                            <td>
                                <a class="removeBonusUser" data-toggle="modal"
                                        href="#removeUserFromBonusModal" data-user_id="{{this.user_id}}"
                                        data-firstname="{{this.birthname}}"
                                        data-lastname="{{this.givenname}}"
                                        data-email="{{this.email}}" data-box1="{{this.box1}}"
                                        data-box2="{{this.box2}}" data-box3="{{this.box3}}"
                                        data-box4="{{this.box4}}"
                                        data-box5="{{this.box5}}" data-box6="{{this.box6}}"
                                   data-mailnotification="{{this.mailNotification}}" data-webnotification="{{this.webNotification}}"
                                        title="{{_ "leitnerProgress.tooltip.removeUser"}}">
                                    <i class="fas fa-trash" data-user_id="{{this.user_id}}"
                                       data-firstname="{{this.birthname}}"
                                       data-lastname="{{this.givenname}}"
                                       data-email="{{this.email}}" data-box1="{{this.box1}}"
                                       data-box2="{{this.box2}}" data-box3="{{this.box3}}"
                                       data-box4="{{this.box4}}"
                                       data-box5="{{this.box5}}" data-box6="{{this.box6}}"
                                       data-mailnotification="{{this.mailNotification}}" data-webnotification="{{this.webNotification}}"
                                    >
                                    </i></a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <button class="btn btn-block btn-raised btn-danger" id="backButton">
                <span class="flex-content"><i class="fas fa-arrow-left"></i> {{_ "backbutton"}}</span>
            </button>
        </div>
    {{/unless}}
</template>
