<template name="joinBonusForm">
    <div class="modal fade" id="joinBonusModal" tabindex="-1" role="dialog" aria-labelledby="joinBonusTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons xs-12">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="joinBonusTitle" class="modal-title">{{_ "bonus.form-join.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "bonus.form-join.message"}}</p>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button id="joinBonusConfirm" class="btn btn-raised btn-success pull-right">{{_
                            "bonus.form-join.button.confirm"}}</button>
                    <button id="joinBonusCancel" class="btn btn-default btn-raised pull-left"
                            data-dismiss="modal">{{_ "bonus.form-join.button.cancel"}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
