<template name="cardsetInfoBox">
    <div id="collapseCardsetInfoButton"
       class="col-xs-12 card btn-raised {{getColors}} collapseButton collapsed">
        <strong>{{#if this.shuffled}}{{_ "set-list.cardsetInfoRepetitorium"}}{{else}}{{_
                "set-list.cardsetInfoStatic"}}{{/if}}</strong>
        <i id="collapseCardsetInfoIcon" class="far fa-caret-square-down pull-right"></i>
    </div>
    <div class="collapse" id="collapseCardsetInfo">
        <div class="card card-block">
            <table class="table table-condensed table-striped table-hover infoBoxTable">
                <tbody>
                {{> cardsetInfoBoxContentOne}}
                {{> cardsetInfoBoxContentTwo}}
                </tbody>
            </table>
        </div>
    </div>
    <span class="hidden-xs">
        <br>
        <br>
    </span>
    {{#if isInBonus}}
        {{> cardsetNavigationLearning}}
    {{else}}
        {{#if currentUser}}
            {{> cardsetNavigationWorkload}}
        {{/if}}
    {{/if}}
</template>

<template name="cardsetInfoBoxContentOne">
    {{> cardsetInfoBoxItemAuthor}}
    {{> cardsetInfoBoxItemOriginalAuthor}}
    {{> cardsetInfoBoxItemLearningMode}}
    {{> cardsetInfoBoxItemReviewer}}
    {{> cardsetInfoBoxItemKind}}
    {{> cardsetInfoBoxItemCardType}}
    {{> cardsetInfoBoxItemDifficulty}}
    {{> cardsetInfoBoxItemCardCount}}
    {{> cardsetInfoBoxItemPrice}}
    {{> cardsetInfoBoxItemPurchased}}
    {{> cardsetInfoBoxItemLicenseRep}}
    {{> cardsetInfoBoxItemLicense}}
</template>

<template name="cardsetInfoBoxContentTwo">
    {{> cardsetInfoBoxItemDateCreated}}
    {{> cardsetInfoBoxItemDateUpdated}}
    {{> cardsetInfoBoxItemActiveLearners}}
    {{> cardsetInfoBoxItemRatings}}
    {{> cardsetInfoBoxItemWordcloud}}
</template>
